<?xml version="1.0"?>
<launch>

  
  <group ns="first_robot">
    
    <param name="tf_prefix" value="ns0"></param>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find proyecto)/urdf/ur5_robot.urdf" />
    <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher" args="0 0 1.2 0 0 0 world ns0/world 100"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    
  </group>
  
  <group ns="second_robot">
    
    <param name="tf_prefix" value="ns1"></param>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find proyecto)/urdf/lidar_sensor.urdf" />
    <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher" args="0 -0.5 0.3 0 0 0 world ns1/world 100"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    
  </group>
  
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" /> -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ur_description)/cfg/view_robot.rviz" required="true" />

</launch>
